<footer id="footer">
	<a href="#" class="info fa fa-info-circle"><span>About</span></a>
	<div class="inner">
		<div class="content">
			<h3>Mr.Bucket | The website to showcase templates</h3>
			<p>The website templates that are showcased here are open source, creative commons or totally free. These CSS HTML templates can be downloaded. <a href="https://codecarrotym.typeform.com/to/SzVYa0" target="_blank">Click here</a> to submit your template.</p>
		</div>
		<div class="copyright">
			<h3>Follow Us</h3>
			<ul class="icons">
				<li><a target="_blank" href="https://www.twitter.com/codecarrotnet" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a target="_blank" href="https://www.facebook.com/codecarrotinc" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a target="_blank" href="https://www.instagram.com/codecarrotnet" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
<!-- 				<li><a target="_blank" href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
			</ul>
			&copy; Mr.Bucket. Design & Developed: <a target="_blank" href="http://codecarrot.net/">CodeCarrot</a>.
		</div>
	</div>
</footer>
