<title>Mr.Bucket | The templates website</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="./images/logo.png"/>

<meta name="google-site-verification" content="cZsjHataYAjK7g9Bn_hOU_k8DV9loUJXjviY3ouUswI" />

<!-- Google Card -->
<meta itemprop="name" content="Mr.Bucket" />
<meta itemprop="description" content="The website templates that are showcased here are open source, creative commons or totally free. These CSS HTML templates can be downloaded." />
<meta itemprop="image" content="./images/logo.png" />

<!-- Facebook Card -->
<meta property="fb:app_id" content="181159655729057" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Mr.Bucket | The templates website" />
<meta property="og:image" content="./images/logo.png" />
<meta property="og:url" content="https://mr-bucket.github.io/" />
<meta property="og:site_name" content="Mr.Bucket" />
<meta property="og:description" content="The website templates that are showcased here are open source, creative commons or totally free. These CSS HTML templates can be downloaded." />

<!-- Twitter Card -->
<meta name="twitter:title" content="Mr.Bucket | The templates website" />
<meta name="twitter:description" content="The website templates that are showcased here are open source, creative commons or totally free. These CSS HTML templates can be downloaded." />
<meta name="twitter:image" content="./images/logo.png" />
<meta name="twitter:url" content="https://mr-bucket.github.io/" />
<meta name="twitter:site" content="@codecarrotnet" />

<!-- Google Analytics Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78257614-4', 'auto');
  ga('send', 'pageview');

</script>